<main  class="main">
    <div class=" mainContainer">
          
        <div class=" px-0 py-0  formContainer">
            <div class="row d-flex justify-content-center">
                <div class="col-6 text-center">
                  
                    <div class="card">
                        <h5 class="text-center mb-4">Changeez Votre Password</h5>
        
                        <form class="form-card" #ClientChangePassForm="ngForm" (ngSubmit)="changePasswordClicked()">
                            
                           
                         
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> 
                                    <label class="form-control-label px-3">Nouveau Password
                                       </label>
        
                                         <input type="text"
                                         [(ngModel)]="changePasswordRequestAgent.newPassword"
                                         #NewPassword="ngModel"
                                          id="NPassword" 
                                          name="NewPassword"
                                           required 
                                           pattern="[a-zA-Z0-9]+"> 
                                        </div>
        
                                       
                                <div class="form-group col-sm-6 flex-column d-flex"> 
                                    <label class="form-control-label px-3">Confirmez Password
                                      </label> 
                                        
                                        <input type="text" 
                                        ngModel
                                        #ConfirmPass="ngModel"
                                        id="ConfirmPass" 
                                        name="ConfirmPass" 
                                        [disabled]="!(NewPassword.touched && NewPassword.valid)"
                                        required
                                        pattern="[a-zA-Z0-9]+"> </div>
                                        
                                        <div *ngIf="(NewPassword.touched && !NewPassword.valid)">
                                            <div class="alert alert-danger" *ngIf="(NewPassword.errors && NewPassword.errors.required)">Un nouveau champ de mot de passe est requis</div>
                                            <div class="alert alert-danger"*ngIf="(NewPassword.errors && NewPassword.errors.pattern)" > Format invalide pour le nouveau mot de passe : ne doit contenir que des lettres et des chiffres</div>
                                           
                                        </div>
                                        <div *ngIf="(ConfirmPass.touched && !ConfirmPass.valid) ">
                                           
                                           
                                            <div class="alert alert-danger" *ngIf="(ConfirmPass.errors && ConfirmPass.errors.required)">Le champ de confirmation du mot de passe est requis</div>

                                           
                                        </div>
                                        <div *ngIf="ConfirmPass.value!=null && ConfirmPass.touched">
                                            <div class="alert alert-danger"*ngIf="!(NewPassword.value==ConfirmPass.value)" > Erreur:Les champs De mot de passe ne se correspondent pas !</div>
                                       </div>

                                      
                            </div>
        
                            <div class="row justify-content-center">
        
                                <div class="form-group col-sm-6">
                                    
                                    <button type="submit"
                                     class="btn-block btn-primary yellow-button"
                                    [disabled]="!(NewPassword.value==ConfirmPass.value && ClientChangePassForm.valid)">Changer Password
                                     </button> 
                                 </div>
        
                            </div>
                      
              
            </form>
        
            </div>
        </div>

          
    </div>
        </div>
    </div>
  </main>


